<footer id="footer">
  <div class="wrap">
    <div class="center copyrights">
        {{ 'footer_text'|trans }} <a href="https://meemoo.be">meemoo</a> (&copy; {{ year }})
    </div>
    <div class="logo-footer-space show-for-large">
      <div class="logo-footer">
      </div>
    </div>
  </div>
</footer>
